<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Edureka_19MayDemoProject"/>
    <listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
        <listEntry value="F:\Someya\Selenium\Workspace1\Edureka_19MayDemoProject\src\testng.xml"/>
    </listAttribute>
    <intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
